# AsciiDoc snippets

# (c) holds no legal value ;)
snippet ts
	== `strftime("%Y-%m-%d %H:%M:%S %Z")`
snippet quote
	[quote]
	____
	${1}
	____
snippet code
	----
	${1}
	----
snippet line
	`strftime("%H:%M")` - .....       
