# Global snippets

# (c) holds no legal value ;)
snippet c)
	`&enc[:2] == "utf" ? "©" : "(c)"` Copyright `strftime("%Y")` ${1:`g:snips_author`}. All Rights Reserved.${2}
snippet date
	`strftime("%Y-%m-%d")`
snippet time
	`strftime("%Y-%m-%d %H:%M:%S %Z")`
snippet ts
	## `strftime("%Y-%m-%d %H:%M:%S %Z")`
snippet bdd
	**As a** ${1:role}
	**I want to** ${2:feature}
	**In order to** ${3:goal}
snippet rbdd
	**Как** ${1:role}
	**Я хочу** ${2:feature}
	**Для того, чтобы** ${3:goal}
snippet ok
	✓
